body {
    background: url("./space.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.titulo {
    font-family: "Audiowide", sans-serif; 
    font-size: 35px; 
    color: #ffffff; 
    font-weight: bold;
    text-align: center;
    margin-top: 100px;

}

.titulo2 {
    font-family : "Audiowide", sans-serif;
    font-size: 25px; 
    color: #ffffff;
    text-align: center; 
    font-weight: bold; 
    margin-top: 100px;

}


.escolhapersonagem {
    background: #00008b;
    color: #000000; 
    font-family: "Audiowide", sans-serif;
    font-size: 20px; 
    font-weight: bold;
    padding: 20px 50px;
    border-radius: 5px; 
    cursor: pointer;
}

.escolhapersonagem:hover {
    padding: 25px 55px;  
    color: #a821bd;
    transition:  padding 1s; 
}

    
    
