body {
    background: url("./space.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.titulo {
    font-family: "Audiowide", sans-serif; 
    font-size: 35px; 
    color: #ffffff; 
    font-weight: bold;
    text-align: center;
    margin-top: 10%;

}

.titulo2 {
    font-family : "Audiowide", sans-serif;
    font-size: 25px; 
    color: #ffffff;
    text-align: center; 
    font-weight: bold; 
    margin-top: 5%;

}

a {
    text-decoration: none;
    color: inherit;
}


.escolhapersonagem {
    font-family: "Audiowide" , sans-serif; 
    font-weight: bold;
    color: #000000;
    background: #00008b;
    border-radius: 10px;
    padding: 20px;
    position: absolute;
    left: 33%;
    top: 70%; 
}

.escolhapersonagem:hover {
    padding: 25px; 
    transition: padding 1s; 
    color: #a821bd;
}

    
    
